---
http_interactions:
- request:
    method: get
    uri: https://api.geoapify.com/v1/geocode/search?apiKey=677a3bce830c4e6eacd771c7f05fa961&lang=en&text=qqqqqqqqqqqqqqqq
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
      Content-Disposition:
      - inline; filename=response.geojson
    body:
      encoding: ASCII-8BIT
      string: '{"type":"FeatureCollection","features":[],"query":{"text":"qqqqqqqqqqqqqqqq"}}'
  recorded_at: Mon, 30 Sep 2024 20:34:23 GMT
recorded_with: VCR 6.3.1
