<!DOCTYPE html>
<html>
<head>
  <title>Local Forecasting</title>
  <style>

  </style>
</head>
<body>
  <div class="forecast-container">
    <h1>Local Forecasting</h1>
    <%= render "local_forecasts/search_field" %>
    <div class="flash" id="flash-message"></div>
    <div id='forecast_result'>
    </div>
  </div>
</body>
</html>
