<% flash.each do |flash_type, message| %>
  <div
    class="flash__message"
    data-controller="flash_removals"
    data-action="animationend->flash_removals#remove"
  >
    <%= message %>
  </div>
<% end %>
